variable "pve_api_token" {
  default = "tofu@pve!infra=api_key"
}

variable "ssh_keys" {
  description = "ssh pubkey"
  type        = list
  default     = [
                  "ssh-rsa pubkey1",
                  "ssh-rsa pubkey2",
                ]
}

